.footerCopyright {
  background: linear-gradient(0deg, #1c1c20, #1c1c20),
    linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  border-top: 1px solid #34343c;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
