.faqList{
    max-width: 1070px;
    margin: 0 auto;
    margin-top: 48px;
}
.faqQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
}
.activeHeader{
    border-bottom: 2px solid #f9e3e397;
}
.faqQuestion h4{
       color: #222222;
    font-size: 18px;
    line-height: 25px; 
    margin: unset;
}
.faqAnswer p{
    padding: 16px;
    color: #000000B2;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Inter-400';
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.4s ease;
}

.faqAnswer.open {
  max-height: 500px; /* enough space for long answers */
  opacity: 1;
}

.subtitle{
    font-size: 12px;
    line-height: 16px;
    font-family: Inter-500;
    text-transform: uppercase;
    color: #898989;
    margin-bottom: 32px;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 48px;
    color: #000000;
    font-family: Gilda-400;
}
.faq {
    padding: 100px 0;
}