.homeSliderMain{
    position: relative;
    max-width: 100%;
    width: 100%;
}
.sliderBgImage img{
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}

.sliderTabs{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 27.1%, rgba(0, 0, 0, 0) 100%);
backdrop-filter: blur(2px);
margin: 0 auto;
    width: 100%;
    padding: 30px 16px;
    overflow: auto;
}
.sliderTabs::-webkit-scrollbar{
    display: none;
}
.tabItem {
    color: #FFFFFFB2;
    text-align: center;
    min-width: 170px;
}
.tabItem img{
    margin-bottom: 16px;
    height: 32px;
    width: 32px;
}
.active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg) brightness(103%) contrast(101%);
}
.divider{
    width: 1px;
    height: 30px;
    background-color: gray;
}

.sliderTabs .divider:last-child {
  display: none;
}

@media screen and (max-width:991.2px) {
    .sliderBgImage img{
        height: 468px;
        object-fit: cover;
    }
    .sliderTabs{
        justify-content: start;
        padding: 20px 0;
    }
}