
.headerNone{
    display: none;
    transition: all 0.3s ease-in;
}
.header{
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1050;
    transition: all 0.3s ease-in;

}
.header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu{
    position: absolute;
    right: 0;
    bottom: -120px;
}
.header div img{
    cursor: pointer;
}