* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

a {
    all: unset;
    cursor: pointer;
}

p,
h1 {
    margin: unset;
}

.bg-orange {
    background-color: #ff5722;
}

.text-orange {
    color: #ff5722;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}


/* Header Section Start*/

section.header-section {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

.navbar-btn {
    gap: 10px;
}

.navbar-btn .btn {
    all: unset;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
}

.navbar-btn .btn:first-child {
    color: #ff5722;
}

.navbar-btn .btn:nth-child(2) {
    color: white;
    background-color: #ff5722;
    box-shadow: 0px 4px 16px 0px #ff572252;
}

.nav-item a {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.nav-link.active {
    color: #ff5722 !important;
}


/* Header Section End */


/* Banner section start  */

.arrow-btns img:first-child {
    transform: rotate(180deg);
}

.arrow-btns {
    right: 0;
}

.banner-heading {
    font-size: 64px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-para {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #374151;
    margin-bottom: 64px;
}

.explore-btn {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 12.5px 48px;
}

.banner-section {
    background: url(/resource/images/patch.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.watch-image img {
    margin: 0 auto;
}

img.slick-arrow.slick-disabled {
    opacity: 0.5;
}


/* Banner section end */

.showe {
    max-width: 278px;
}

.showcase {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #ffefe9;
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}

.show-title {
    font-size: 32px;
    line-height: 42px;
    color: #ff5722;
    font-weight: 700;
}


/* faq section start  */

.faq-container {
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    border-radius: 10px;
}

.custon-faq-question {
    padding: 24px 30px;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    font-weight: 800;
}

.custom-faq-answer {
    padding-left: 30px;
    padding-bottom: 24px;
    padding-right: 124px;
    color: #000000;
    font-size: 16px;
    line-height: 31px;
    font-weight: 500;
}


/* faq end  */


/* footer */

.footer-section {
    padding: 64px 0;
}

.common-p {
    color: #ffffff;
}


/* footer end */

.watch-slider .watch-image:nth-child(2) img {
    transform: rotate(135deg);
    transition: trasnform 0.5s ease-in-out;
}

.watch-slider .watch-image:nth-child(3) img {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}


/*  */

.product-tab-btn {
    border: none !important;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #222222;
    padding: 4px 60px;
}

.product-tab-btn.active {
    background: #ff572233 !important;
    border-radius: 24px;
}

.product-list {
    display: inline-flex !important;
    margin: 0 auto;
    border: 1px solid #FF5722 !important;
    border-radius: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.product-card:nth-child(3n+1) {
    background: url(/resource/images/bg1.svg), #FBFBFB;
    background-repeat: no-repeat;
    background-position: center 20px;
}

.product-card:nth-child(3n+2) {
    background: url(/resource/images/bg2.svg), #FBFBFB;
    background-repeat: no-repeat;
    background-position: center 20px;
}

.product-card:nth-child(3n+3) {
    background: url(/resource/images/bg3.svg), #FBFBFB;
    background-repeat: no-repeat;
    background-position: center 20px;
}

.product-card {
    max-width: 372px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.product-card:hover {
    border: 1px solid #FF5722 !important;
    box-shadow: 0px 4px 9px 0px #FF5722;
    background-color: white;
    transition: background-color 0.2s ease-in, box-shadow 1s ease;
    & .product-book-now {
        background-color: #FF5722;
        color: white;
        transition: background-color 0.2s ease-in;
    }
    & .prod-img img {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

.products-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 12px;
    justify-content: center;
}

.product-book-now {
    text-align: center;
    color: #FF5722;
    font-size: 16px;
    font-weight: 700;
    background: white;
    border: 1px solid;
    padding: 12px 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer;
}

.product-price {
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
}

.product-name {
    font-size: 24px;
    font-weight: 400;
    color: #282828;
    text-align: center;
}

.products {
    margin-bottom: 64px;
}

.product-heading.text-orange {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
}

p.product-para {
    color: #374151;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    padding: 0 150px;
}


/* book now page */

.book-now-main {
    display: flex;
    justify-content: start;
    gap: 100px;
    align-items: center;
    height: 100%;
}

.book-now-watch-image {
    max-width: 468px;
    width: 100%;
    text-align: center;
    background: #FFEFE9;
    border-radius: 24px;
    height: 100%;
}

.book-now-watch-name {
    color: #2F294D;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
}

p.book-now-warranty {
    color: #2F294D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.book-now-stars {
    display: flex;
    margin-right: 10px;
    gap: 5px;
    font-weight: 700;
}

.features {
    display: flex;
    gap: 10px;
    margin: 14px auto;
}

.book-now-cust {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}

.book-now-cust img:not(:first-child) {
    margin-left: -21px;
}

.book-cart-btns>div {
    cursor: pointer;
}

.book-now-watch-image img {
    object-fit: contain;
}

.watch-book-price {
    font-size: 44px;
    font-weight: 700;
}

.book-now-watch-image img:hover {
    scale: 1.1;
    transform: rotate(-15deg);
    transition: scale 1s ease, transform 1s ease;
}


/* contact us page */

.contact-us-form-main {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.form-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-div input:not(:last-child) {
    margin-bottom: 24px;
}

select#prod-name {
    /* all: unset; */
    border: 1px solid #c4c4c4;
    padding: 10px;
    margin-bottom: 24px;
    height: 46px;
}

.form-div input {
    all: unset;
    border: 1px solid #B0B0B0;
    padding: 10px;
}

.form-div label {
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 8px;
}

input#comments {
    height: 100%;
}

input#contact-us-submit-btn {
    all: unset;
    cursor: pointer;
    background: #FF5722;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* contact us end */