.form_main{
    max-width: 532px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 50px;
    /* border: 1px solid; */
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
}
.form_main > div > h3{
    margin-bottom: 60px;
    color: #000000;
    font-size: 56px;
    line-height: 64px;
    font-family: Gilda-400;
}
.input_divider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.main_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 46px;

}

.input_divider .inputDiv {
  flex: 1; /* each input takes equal width inside the flex container */
}

.inputDiv {
  width: 100%;
  position: relative;
}.input_divider .inputDiv {
  flex: 1; /* each input takes equal width inside the flex container */
}

.inputDiv {
  width: 100%;
  position: relative;
}

.inputDiv input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #00000033;
    padding: 4px 8px;
}

.form_btns{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    margin-top: 30px;
}
.btn1{
    padding: 20px 0;
    flex: 1;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    line-height: 18px;
    font-family: Inter-400;

}
.btn2{
    padding: 20px 0;
    flex: 1;
    border: 1px solid #000;
    text-transform: uppercase;
        color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-family: Inter-400;
    background-color: #005E5E;
}

@media screen and (max-width:768px) {
    .form_main{
        padding: 16px;
    }
    .form_btns{
        flex-direction: column;
    }
}