.menuPopup{
    max-width: 280px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #c1b6b6;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    right: 0;
    top: 0;
    backdrop-filter: blur(20px);

}
.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #FFFFFF;
    min-width: 150px;
}
.close{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}