.glance{
    padding: 100px 16px;
    background-color: #000000;
}
.glance > p{
    color: #898989;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: Inter-400;
    text-align: center;
    margin-bottom: 32px;
}
.glance > h2{
    font-size: 44px;
    line-height: 48px;
    color: #FFFFFF;
    font-family: Gilda-400;
    margin-bottom: 40px;
    text-align: center;
}
.glanceSlider{
    max-width: 1280px;
    margin: 0 auto;
}
.navTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    overflow: auto;
}
.navTabs::-webkit-scrollbar{
    display: none;
}
.navTabs button{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 6px 20px;
    font-family: Gilda-400;
    text-wrap: nowrap;

}
.activeBtn{
    border-bottom: 1px solid;
}
.tabImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
    /* flex-wrap: wrap; */
}
.tabImages img{
    max-width: 100%;
    height: auto;
}

.rightImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.inActive {
    opacity: 0.6;
    /* filter: brig htness(0) saturate(100%) invert(89%) sepia(6%) saturate(220%) hue-rotate(314deg) brightness(88%) contrast(82%); */
}

.btns button:last-child img{
    transform: rotate(180deg);
}
.btns button{
    padding: 12px;
    background: #FFFFFF4D;
    border-radius: 100%;
}

@media screen and (max-width:991.2px) and (min-width:320px) {
    .navTabs{
        justify-content: start;
    }
}